@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.MuiInputBase-root.MuiAutocomplete-inputRoot {
  height: 50px;
  border-radius: 10px;
}
/* .rdrDefinedRangesWrapper {
  display: none;
} */
.load{
  position: absolute;
  background-color: rgba(161, 161, 161, 0.221);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}